h1 {
	font-size: 32px;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color: rgb(46,105,163);
	margin-left: 20px;
}

.info{
	border: 2px solid black;
	padding: 100px;
	text-align: center;
	color: black;
	background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
}

p{
	padding: 90px 0;
	margin-left: 20px;
}
